{% extends '/includes/layout.html.twig' %}

{% block body %}

<div>
	<div id='jumbotron' class="jumbotron">
		<h1><div class='mainText'>LA EXPERIENCIA DE JUEGOS DE ESCAPE MÁS INMERSIVA DE BUENOS AIRES</div></h1>
		<a href='#'><div class='reservaJumbotronAhora'>RESERVÁ AHORA</div></a>
		<p>O comunicate con nosotros al <strong>15 4081 7293</strong></p>
		<p>O por Whatsapp al <strong>15 4891 7263</strong></p>
	</div>
<div>

<div class="container-fluid">

	<div id='juegos' class='row'>
    	<div class='col-md-4 juegosContainer'>
    		<img id='saw' class='img-fluid' src='{{asset('img/SAW.jpg')}}'>
    		<a href='#'><div class='reservaJuegosAhora'>RESERVÁ AHORA</div></a>
    		<a href='#'><div class='masInfo'>MÁS INFORMACIÓN</div></a>
    	</div>
    	<div class='col-md-4 juegosContainer'>
    		<img id='piratas' class='img-fluid' src='{{asset('img/PIRATAS.jpg')}}'>
    		<a href='#'><div class='reservaJuegosAhora'>RESERVÁ AHORA</div></a>
    		<a href='#'><div class='masInfo'>MÁS INFORMACIÓN</div></a>
    	</div>
    	<div class='col-md-4 juegosContainer'>
    		<img id='ouija' class='img-fluid' src='{{asset('img/OUIJA.jpg')}}'>
    		<a href='#'><div class='reservaJuegosAhora'>RESERVÁ AHORA</div></a>
    		<a href='#'><div class='masInfo'>MÁS INFORMACIÓN</div></a>
    	</div>
	</div>
</div>

{% endblock %}
